# @NAMESPACE:registry=https://npm.pkg.github.com
@liltwl:registry = https://npm.pkg.github.com/ //npm.pkg.github.com/: _authToken = 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